<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form  class="box" action="/register" method="POST">
                        <h1>Register</h1>
                        
                        <input type="text" name="username" placeholder="Username"> 
                        <!-- <input type="email" name="" placeholder="Email">  -->
                        <input type="password" name="password" placeholder="Password"> 
                         <input type="submit" name=""
                            value="Register" href="#">
                        <a href="login">Login Here</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>